<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!-- 命名空间 -->
    <typeAliases>
        <typeAlias type="com.dingup.onlinetest.bean.reading.TsReadingArticle" alias="myTsReadingArticle"></typeAlias>
        <typeAlias type="com.dingup.onlinetest.bean.reading.TsReadingQuestion" alias="myTsReadingQuestion"></typeAlias>
        <typeAlias type="com.dingup.onlinetest.enums.ReadingQuestionTypeEnum" alias="myReadingQuestionTypeEnum"></typeAlias>
        <typeAlias type="com.dingup.onlinetest.bean.reading.ReadingQuestionXml" alias="myReadingQuestionXml"></typeAlias>
        <!--<typeAlias type="com.aliyun.chaozhan.bean.OriginalUser" alias="myOriginalUserType"></typeAlias>-->
        <!--<typeAlias type="com.aliyun.chaozhan.bean.CallResult" alias="myCallResultType"></typeAlias>-->
        <!--<typeAlias type="com.aliyun.chaozhan.enums.SysUserRoleEnum" alias="mySysUserRoleEnumType"></typeAlias>-->
        <!--<typeAlias type="com.aliyun.chaozhan.dao.handler.SysUserRoleEnumHandler" alias="mySysUserRoleEnumHandlerType"></typeAlias>-->
        <!--<typeAlias type="com.aliyun.chaozhan.dao.handler.CallResultEnumHandler" alias="myCallResultEnumHandlerType"></typeAlias>-->
    </typeAliases>

    <typeHandlers>
        <!--这里注册jdbc和class的映射,并保证会调用相应的handler来执行,需要在table.xml中的resultMap中设定相应的jdbcType和javaType-->
        <typeHandler handler="com.dingup.onlinetest.dao.handler.ReadingQuestionTypeEnumHandler" javaType="myReadingQuestionTypeEnum" jdbcType="VARCHAR" />
        <typeHandler handler="com.dingup.onlinetest.dao.handler.ReadingQuestionXmlHandler" javaType="myReadingQuestionXml" jdbcType="VARCHAR" />
        <!--或者不在这里注册,直接在resultMap的result条目中填写handlerType也可以-->
        <!--<typeHandler handler="com.aliyun.chaozhan.dao.handler.SysUserRoleEnumHandler" javaType="mySysUserRoleEnumType" jdbcType="INTEGER" />-->
        <!--<typeHandler handler="com.aliyun.chaozhan.dao.handler.CallResultEnumHandler"-->
        <!--javaType="com.aliyun.chaozhan.enums.CallResultEnum" jdbcType="INTEGER" />-->
    </typeHandlers>

    <!-- 映射map -->
    <mappers>
        <!--<mapper resource="mapper/CallResult.xml"></mapper>-->
        <!--<mapper resource="mapper/OriginalUsers.xml"></mapper>-->
        <!--<mapper resource="mapper/SysUsers.xml"></mapper>-->
    </mappers>

</configuration>