<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <!-- dataSource定义 -->
    <bean id="ds_dingup_online_test" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close"
          p:driverClassName="com.mysql.jdbc.Driver"
          p:url="jdbc:mysql://123.57.163.18:3306/dingup_online_test?useUnicode=true&amp;characterEncoding=UTF-8"
          p:username="onlinetestuser"
          p:password="DingupOnlineTest_user160303"
          p:initialSize="1"
          p:maxIdle="2"
          p:minIdle="1"/>

    <!-- mybatis文件配置，扫描所有mapper文件 -->
    <!-- configLocation为mybatis属性 mapperLocations为所有mapper-->
    <bean id="sqlSessionFactory"
          class="org.mybatis.spring.SqlSessionFactoryBean"
          p:dataSource-ref="ds_dingup_online_test"
          p:configLocation="classpath:conf/mybatis-config.xml"
          p:mapperLocations="classpath:mapper/*.xml"/>

    <!-- spring与mybatis整合配置，扫描所有dao -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer"
          p:basePackage="com.dingup.onlinetest.dao"
          p:sqlSessionFactoryBeanName="sqlSessionFactory"/>

    <!-- 对数据源进行事务管理 -->
    <bean id="transactionManager"
          class="org.springframework.jdbc.datasource.DataSourceTransactionManager"
          p:dataSource-ref="ds_dingup_online_test"/>

</beans>